# dependencies
node_modules
/ts-node-*

# IDE
/.idea
/.awcache
/.vscode

# Vim
*.swp

# misc
npm-debug.log

# example
/quick-start

# tests
/test
/**/coverage
/.nyc_output

# dist
/dist
package-lock.json
