# Dependencies
node_modules
/ts-node-*

# IDE
/.idea
/.awcache
/.vscode

# Vim
*.swp

# Misc
npm-debug.log

# Tests
/test
/**/coverage
/.nyc_output
website/cypress/screenshots

# Dist
/dist

# Environment settings
/qit-api/log
/qit-api/tmp