# Dependencies
node_modules
/ts-node-*

# IDE
/.idea
/.awcache
/.vscode

# Vim
*.swp

# Misc
npm-debug.log

# Example
/quick-start

# Tests
/test
/**/coverage
/.nyc_output

# Dist
/dist


# Environment settings
/qit-api/config/.env
/podcast-feed-loader/app/.env
